<div class="relative bg-white shadow dark:bg-gray-700">
  <div class="flex items-center justify-between border-b rounded-t dark:border-gray-600">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white-cust" style="margin: 0px;" mat-dialog-title>
      Add Location
    </h3>
  </div>

  <mat-dialog-content class="mat-typography dark:text-white-cust">
    <form>
      <div class="grid gap-4 mb-4 grid-cols-2">
        <div class="col-span-2">
          <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number</label>
          <input [(ngModel)]="location.number" type="number" name="number" id="number"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Number" required="">
        </div>
        <div class="col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          <input [(ngModel)]="location.name" type="text" name="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Name" required="">
        </div>
      </div>
      <div class="grid gap-4 mb-4 grid-cols-3">  
        <div class="col-span-1">
          <label for="dcp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DCP</label>
          <input [(ngModel)]="location.dcp" type="number" name="dcp" id="dcp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DCP" required="">
        </div> 
        <div class="col-span-1">
          <label for="donut" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Donut</label>
          <input [(ngModel)]="location.donut" type="number" name="donut" id="donut" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Donut" required="">
        </div> 
        <div class="col-span-1">
          <label for="pepsi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pepsi</label>
          <input [(ngModel)]="location.pepsi" type="number" name="pepsi" id="pepsi" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Pepsi" required="">
        </div>  
        <div class="col-span-1">
          <label for="foodPlusLabor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Food Plus Labour</label>
          <input [(ngModel)]="location.foodPlusLabor" type="number" name="foodPlusLabor" id="foodPlusLabor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Food+Labor" required="">
        </div> 
        <div class="col-span-1">
          <label for="workmanComp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Workman Comp</label>
          <input [(ngModel)]="location.workmanComp" type="number" name="workmanComp" id="workmanComp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Workman Comp" required="">
        </div> 
    </div> 
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="flex gap-2 justify-end"> 
      <button type="button"
      class="px-3 py-2 text-xs font-medium text-center rounded-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      mat-dialog-close>Close</button>
      <button type="button"  (click)="addLocation()"
        class="px-3 py-2 text-xs font-medium text-center rounded-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        mat-dialog-close  cdkFocusInitial>Save</button>
    </div>
  </mat-dialog-actions>
</div>